@import '../../../style-vars';

@media print {
  .noprint {
    display: none !important;
  }
}

:host-context {
  .header {
    height: 48px;
    padding: 0 24px;
    background-color: $white;
    border-bottom: solid 2px $headerUnderline;
  }

  .appHeader {
    margin: 0 8px;
    cursor: pointer;
  }

  .appHeader:focus {
    outline: 0;
  }

  .print {
    cursor: pointer;
  }
}

