<nav fxShow fxHide.sm fxHide.xs mat-tab-nav-bar id="nav" [ngClass]="{'hide-ink-bar': hideInkBar}">
    <a mat-tab-link *ngFor="let nav of navConfig.tabNav; let i = index" (click)="onNavClick(i)" [active]="isActiveRoute(i)">
        {{nav.name}}
    </a>
</nav>

<button mat-icon-button fxShow fxHide.gt-sm>
    <i fa name="bars" size=2 [matMenuTriggerFor]="menu"></i>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let nav of navConfig.tabNav; let i = index" (click)="onNavClick(i)">
        {{nav.name}}
    </button>
</mat-menu>
