<div fxFill class="page">
    <div class="profile">
        <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="8px">
            <div fxFlex fxLayout="row" fxLayoutGap="10px">
                <div class="avatar"><img *ngIf="user?.avatar" [src]="user.avatar"/></div>
                <div fxFlex class="name">
                    <div class="userName">{{user?.name}}</div>
                    <div *ngIf="user?.title">{{user.title}}</div>
                    <div class="user-details-links" fxLayoutGap="8px" fxHide fxShow.xs>
                        <a *ngIf="user?.links?.website" fa name="globe" size="2" class="website" [href]="user.links.website.url"></a>
                        <a *ngIf="user?.links?.email" fa name="envelope" size="2" class="email" [href]="'mailto:' + user.links.email.url"></a>
                        <a *ngIf="user?.links?.linkedIn" fa name="linkedin" size="2" class="linked-in" [href]="user.links.linkedIn.url"></a>
                        <a *ngIf="user?.links?.facebook" fa name="facebook-f" size="2" class="facebook" [href]="user.links.facebook.url"></a>
                        <a *ngIf="user?.links?.twitter" fa name="twitter" size="2" class="twitter" [href]="user.links.twitter.url"></a>
                        <a *ngIf="user?.links?.github" fa name="github" size="2" class="github" [href]="user.links.github.url"></a>
                    </div>
                </div>
            </div>
            <qrcode *ngIf="qrData" [qrdata]="qrData" size=100 level="L"></qrcode>
            <div class="user-details" fxShow fxHide.xs>
                <div fxLayout="row">
                    <div fxFlex fxLayout="column">
                        <div *ngFor="let detail of user | keys">
                            <div *ngIf="shouldDisplayUserDetail(detail)" fxLayout="row" fxLayoutGap="8px">
                                <div fxFlex="20" class="bold">{{detail.key | capitalize}}:</div>
                                <div>{{detail.value}}</div>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="8px">
                            <div *ngIf="user?.links?.website" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <div fxFlex="20" fa name="globe"  class="website"></div>
                                <a [href]="user.links.website.url">{{user.links.website.url}}</a>
                            </div>
                            <div *ngIf="user?.links?.email" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <div fxFlex="20" fa name="envelope"  class="email"></div>
                                <a [href]="'mailto:' + user.links.email.url">{{user.links.email.url}}</a>
                            </div>
                            <div *ngIf="user?.links?.linkedIn" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <div fxFlex="20" fa name="linkedin"  class="linked-in"></div>
                                <a [href]="user.links.linkedIn.url">{{user.links.linkedIn.url}}</a>
                            </div>
                            <div *ngIf="user?.links?.facebook" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <div fxFlex="20" fa name="facebook-f"  class="facebook"></div>
                                <a [href]="user.links.facebook.url">{{user.links.facebook.url}}</a>
                            </div>
                            <div *ngIf="user?.links?.twitter" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <div fxFlex="20" fa name="twitter"  class="twitter"></div>
                                <a [href]="user.links.twitter.url">{{user.links.twitter.url}}</a>
                            </div>
                            <div *ngIf="user?.links?.github" fxLayoutAlign="start center" fxLayoutGap="8px">
                                <div fxFlex="20" fa name="github"  class="github"></div>
                                <a [href]="user.links.github.url">{{user.links.github.url}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blurb" *ngIf="user?.blurb">{{user.blurb}}</div>
    </div>
    <div class="details">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutGap="24px">
            <div flex class="history" fxLayout="column">
                <div class="work">
                    <h1 *ngIf="workHistory?.length > 0" class="title"><fa name="building"></fa> Work Experience</h1>
                    <div *ngFor="let job of workHistory" class="job">
                        <div fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="8px">
                            <div fxFlex="65" fxLayoutAlign="space-between end">
                                <h2 >{{job.title}}</h2>
                                <div fxFlex="none" *ngIf="job.company">{{job.company}}</div>
                            </div>
                            <div class="date-range">
                                {{job.startDate}} - {{job.endDate ? job.endDate : 'present'}}
                            </div>
                        </div>
                        <div class="details">{{job.description}}</div>
                        <ul *ngIf="job.bullets" class="bullets">
                            <li *ngFor="let bullet of job.bullets">{{bullet}}</li>
                        </ul>
                    </div>
                </div>
                <div class="education">
                    <h1 *ngIf="education?.length > 0" class="title"><fa name="graduation-cap"></fa> Education</h1>
                    <div *ngFor="let school of education" class="job">
                        <div fxLayout="row" fxLayoutAlign="space-between end">
                            <div fxFlex="65" fxLayoutAlign="space-between end">
                                <h2 >{{school.title}}</h2>
                                <div *ngIf="school.company">{{school.company}}</div>
                            </div>
                            <div class="date-range">
                                {{school.startDate ? school.startDate + '-' : ''}} {{school.endDate}}
                            </div>
                        </div>
                        <div class="details">{{school.description}}</div>
                        <ul *ngIf="school.bullets" class="bullets">
                            <li *ngFor="let bullet of school.bullets">{{bullet}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div fxLayout="column" class="skill-sets">
                <div *ngFor="let skillset of skillSets">
                    <h4 class="skill-title">{{skillset.title}}</h4>
                    <div *ngFor="let skill of skillset.skills" fxLayout="column">
                        <div class="skill-level-container">
                            <h5>{{skill.name}}</h5>
                            <div>
                                <i *ngFor="let i of getSkillLevel(skill.level)">&#x2588;</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
