@import '../../../style-vars';
@import "../../../_utils.scss";

:host-context {
  h4 {
    margin: 8px 0 4px 0;
    border-bottom: black solid 1px;
  }

  $skill-width: 14px;

  .skill-grouping {
    > h4 {
      margin: 8px 0 4px 0;
      border-bottom: black solid 1px;
    }

    .skill{
      padding-left: 8px;

      .skill-level {
        padding-left: 8px;
        width: 160px;

        > i {
          float: left;
          width: $skill-width;
          text-shadow: 2px 2px 2px $outline2;

          @include opacity(0);
        }
      }
    }
  }

  @for $g from 1 through 10 {
    .skill-grouping:nth-child(#{$g}) {
      $group-delay: ($g * 400ms) - 400ms;
      $group-speed: $transition-speed / 2;

      @for $s from 1 through 10 {
        .skill:nth-child(#{$s}) {
          $skill-delay: $group-delay + ($g * $s * 30ms) - 430ms;
          $skill-speed: 2s;
          @include animation(flip-in-x $skill-speed);
          @include animation-fill-mode(both);
          animation-delay: ($skill-delay) + ($s * 50ms) - 450ms;
          //transform: translateX(25px);

          .skill-level {
            @for $i from 1 through 10 {
              i:nth-child(#{$i}) {
                $anim-speed: 2000ms - ($i * 50);
                @include animation(into-view $anim-speed forwards);
                animation-delay: ($skill-delay) + ($i * 50ms) - 450ms;
                transform: translateX($skill-width + (-$skill-width * $i));
                color: mix($action, $primary, $i * 9);
              }
            }
          }
        }
      }
    }
  }
}

@include keyframes(flip-in-x) {
  0% {
    @include transform(perspective(400px) rotate3d(1, 0, 0, 90deg));
    @include transition-timing(ease-in);
    @include opacity(0);
  }
  //40% {
  //  @include transform(perspective(400px) rotate3d(1, 0, 0, 30deg));
  //  @include transition-timing(ease-in);
  //}
  60% {
    @include transform(perspective(400px) rotate3d(1, 0, 0, -10deg));
    @include opacity(1);
  }
  //80% {
  //  @include transform(perspective(400px) rotate3d(1, 0, 0, -10deg));
  //}
  100% {
    @include transform(perspective(400px));
  }
}

@include keyframes(into-view) {
  from {
  }
  to {
    @include opacity(1);
    @include transform(translate(0, 0));
  }
}

